.recipe-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.step-list {
  list-style-type: decimal;
  padding-left: 20px;
}

.step-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.step-number {
  margin-right: 10px;
  font-weight: bold;
}

.step-text {
  flex-grow: 1;
  margin-right: 10px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 400px;
}

.step-input {
  width: 100%;
  margin-bottom: 12px;
  /* padding: 8px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
}

.step-input-text {
  flex-grow: 1;
  margin-right: 10px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
}

.step-input-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-step-button:hover {
  background-color: #45a049;
}
